# https://editorconfig.org
root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4
ij_any_space_before_if_parentheses = false
ij_any_space_before_while_parentheses = false
ij_any_space_before_for_parentheses = false

[*.gradle]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
